@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

body
{
    font-family: 'Roboto', sans-serif;
    /* background-image: url(images/stocks.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: 5rem; */
}



label
{
    display: block;
    padding-bottom: 1rem;
}


h1
{
    text-align: center;
}

#initial-price, #stocks-quantity, #current-price
{
    /* margin: 1rem 40rem;
    width: 15%; */

    width: 45%;
    margin-bottom: 2rem;
    margin-left: 12rem;
    height: 25px;
    display: block;
    background-color: white;
    border-radius: 20px;
    font-size: large;
}

#submit-btn
{
    width: 30%;
    margin-bottom: 2rem;
    margin-left: 15rem;
    height: 25px;
    display: block;
    font-size: large;
}

#output-box
{
    width: 30%;
    margin-bottom: 2rem;
    margin-left: 15rem;
    height: 25px;
    display: block;
    font-size: large;
    font-weight: bold;
}


.section
{
    width: 100%;
    max-width: 700px;
    min-height: 200px;
    margin: 7rem 25rem;
    padding: 2rem 1rem;
    text-align: center;
    background-color: #F87171;
    display: block;
    border-radius: 20px;
    border: none;
    background-image: url(images/stocks.svg);
}